html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 5%;
}

div.banner {
  padding: 20px;
  margin-top: 60px;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}


.card-content{
  display: grid;
  grid-template-columns: 1fr, 2fr, 3fr;
}
.card-description{
  position: relative;
  font-weight: bold;
  grid-column: 1;
}

.card-assignedTo{
  font-weight: bold;
  grid-column: 1;
  grid-row: 2;
}
.card-due_Date{
  position: absolute;
  left : 40%;
  grid-column: 2;
}
.card-completed, .card-not-completed{
  position: absolute;
  left : 70%;
  grid-column: 3;
}

.addACardDiv{
  align-content: center;
  text-align: center;
}

.card-headers{
  display: grid;
  height: 50px;
  grid-row-gap: 0px;
  grid-column-gap: 50px;
  margin-top: 0px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.description-header{
  position: relative;
  left : 50%;
}
.due_date-header{
  position: relative;
  left : 30%;
}
.status-header{
  grid-column: 3;
}


/* ITEM SCREEN CONTROLS */
#item_heading {}
#item_form_container {
  display: grid;
  max-width: 400px;
  align-content: center;
  padding: 30px;
}
#item_description_prompt {}
#item_description_textfield {
}
#item_assigned_to_prompt {}
#item_assigned_to_textfield {}
#item_due_date_prompt {}
#item_due_date_picker {}
#item_completed_prompt {}
#item_completed_checkbox {}
#submitOrCancelDiv{
  display: grid;
}
.submit_button{
  margin-top: 5%;
}
.cancel_button{

}


/* ITEM SCREEN CLASSES */
.item_prompt {
  grid-column: 1;
}
.item_input {
  grid-column: 2;
  margin: auto;
}

.promptInputDiv{

}
.item_form_container{
  
}

.itemCard{
  position: relative;
}

.moveUpHoverBtn, .moveDownHoverBtn, .deleteHoverBtn{
  display: none;
}
/* Show on hover
.itemCard:hover .moveUpHoverBtn{
  display: block;
}
.itemCard:hover .moveDownHoverBtn{
  display: block;
}
.itemCard:hover .deleteHoverBtn{
  display: block;
}
*/
.moveUpHoverBtn{
    transition: 1s;
    position: absolute;
    left: 0; /*-25% */ 
    top: 32%;
    background-color: #1222ed;  
    -webkit-animation: slide 0.5s backwards;
    -webkit-animation-delay: 2s;
    animation: slide3 0.5s forwards;
}
.moveDownHoverBtn{
  transition: 1s;
  position: absolute;
  left: 0;  /* -17.5 */
  top: 32%;
  background-color: #8410ef;  
  -webkit-animation: slide 0.5s backwards;
  -webkit-animation-delay: 2s;
  animation: slide2 0.5s forwards;
}
.deleteHoverBtn{
  transition: 1s;
  position: absolute;
  left: 0; 
  color: black;
  top: 32%;
  background-color: #d35400;  
  -webkit-animation: slide 0.5s backwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
}

.listHeader{
  
}
.deleteListBtn{
  float: right;
}

/* Animation for buttons */
@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: -10%; }
}
@keyframes slide2 {
  100% { left: -17.5%; }
}
@keyframes slide3 {
  100% { left: -25%; }
}