html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 5%;
}

div.banner {
  padding: 20px;
  margin-top: 60px;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}


.card-content{
  display: grid;
  grid-template-columns: 1fr, 2fr, 3fr;
}
.card-description{
  position: relative;
  font-weight: bold;
  grid-column: 1;
}

.card-assignedTo{
  font-weight: bold;
  grid-column: 1;
  grid-row: 2;
}
.card-due_Date{
  position: absolute;
  left : 40%;
  grid-column: 2;
}
.card-completed, .card-not-completed{
  position: absolute;
  left : 70%;
  grid-column: 3;
}

.addACardDiv{
  align-content: center;
  text-align: center;
}

.card-headers{
  display: grid;
  height: 50px;
  grid-row-gap: 0px;
  grid-column-gap: 50px;
  margin-top: 0px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.description-header{
  position: relative;
  left : 50%;
}
.due_date-header{
  position: relative;
  left : 30%;
}
.status-header{
  grid-column: 3;
}